{erl_opts, [
        %bin_opt_info,
        warn_export_all,
        warn_export_vars,
        %warn_missing_spec,
        warn_obsolete_guard,
        warn_shadow_vars,
        warn_unused_import,
        %warnings_as_errors,
        {parse_transform, lager_transform}
        %{i, "deps"}
        ]}.

{pre_hooks, [
        %{compile, "make -C cpp_src/"}
        ]}.

{post_hooks, [
        %{clean, "make -C cpp_src/ clean"}
        ]}.

{deps_dir, "deps"}.
{deps, [
        %{edown,     ".*", {git, "git://github.com/esl/edown.git",           {tag, "0.4"}}},
        {lager,      ".*", {git, "git://github.com/basho/lager.git",         {tag, "3.2.1"}}},
        {hash,       ".*", {git, "https://github.com/g-andrade/hash.git",    "1e5ad1ad5a22911b9f7e01336a8bc8f53b7d0f45"}},
        {curve25519, ".*", {git, "https://github.com/schnef/curve25519.git", "ee8a2ebdd008e0e9aa4eddc368482934bd8433da"}},
        {hkdf,       ".*", {git, "https://github.com/schnef/hkdf.git",       "8d92e0fef2a165beae1224c11c606d3d8d5653ba"}},
        {hpack,      ".*", {git, "https://github.com/joedevivo/hpack.git",   {tag, "0.2.3"}}},
        {chatterbox, ".*", {git, "https://github.com/joedevivo/chatterbox.git", {tag, "0.4.1"}}}
        ]}.

{edoc_opts, [
        %{doclet, edown_doclet}
        ]}.

{xref_checks, [
        undefined_function_calls,
        undefined_functions,
        locals_not_used,
        exports_not_used,
        deprecated_function_calls,
        deprecated_functions
        ]}.

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
